body {
    color: var(--a-color-dark) !important;
}

.sobre-tu-retiro h2,
.ppr h2,
.impacto-edad h2,
.plan-allianz h2,
.testimoniales h2 {
    margin-bottom: 1.13rem;
}

.sobre-tu-retiro .sub-titulo,
.ppr .sub-titulo,
.impacto-edad .sub-titulo,
.plan-allianz .sub-titulo {
    font-weight: 400;
    line-height: 1.375rem;
    color: #0A0A0A;
}

.hero {
    padding-top: 5.87rem;
    color: var(--a-color-light);
    background-image: url('../../../img/Ahorro/Allianz/webp/mobil/allinaz-hero-bg-responsive-xs.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px 0px 8.5rem 0px;
}

.hero h1 {
    margin-bottom: 1.25rem;
}

.hero .hero-icon-container {
    padding: .4rem;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero .hero-icon-container svg {
    width: .875rem;
    height: .875rem;
}


.hero .p-xlg-bold {
    font-weight: 700;
    line-height: 1.625rem;
}

.hero .formulario label {
    padding-left: 0.31rem;
    padding-bottom: 0.31rem;
    font-weight: 500;
}

.hero .formulario input {
    width: 100%;
    padding: 1rem 1.5625rem;
    border-radius: 0.5rem;
    border: 1px solid var(--a-color-primary-70);
    /* Shadow/Bubble Chat */
    box-shadow: 0px 15px 15px 0px rgba(134, 101, 230, 0.10);
}

.hero .formulario input::placeholder {
    color: rgba(39, 68, 112, 0.50);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}

.hero input[type=number]::-webkit-inner-spin-button,
.hero input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
.hero input[type=number] {
    -moz-appearance: textfield;
}

.hero .formulario input:focus,
.hero .formulario input:active {
    outline: none;
}

form .title_error {
    color: var(--a-color-secondary);
    padding-left: 1rem;
}

.input_visible {
    visibility: hidden;
}

.btn-container {
    padding-bottom: 4.38rem;
}

.btn-container button,
a.btn-b-light {
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1.25rem 1.31rem;
    max-width: 12.5rem;
    width: 100%;
}

.btn-shadow {
    box-shadow: 0px 5px 24px 0px rgba(255, 255, 255, 0.45);
}

.btn-agendar {
    display: inline-flex;
    padding: 1.25rem 1.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.5rem;
    border: 2px solid #274470;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #274470;
}

.botones-container {
    padding-top: 1.88rem;
    padding-bottom: 4.37rem;
    gap: 1.25rem;
}

.botones-container button {
    width: 13rem;
}

.bg-morado {
    background-color: #274470;
    color: var(--a-color-light);
    padding-top: 2.13rem;
    padding-bottom: 2.5rem;
    margin-top: 4.38rem;
}

.bg-morado .botones-container {
    padding-bottom: 0rem;
}

.bg-morado .btn-primary {
    box-shadow: 0px 5px 24px 0px rgba(255, 255, 255, 0.45);
}

.bg-morado .btn-agendar {
    border: 2px solid var(--a-color-light);
    color: var(--a-color-light);
}

.sobre-tu-retiro {
    margin-top: 4.7rem;
    margin-bottom: 4.12rem;
}

.retiro-img-container {
    height: 19.6875rem;
    max-width: 19.25rem;
    margin-left: auto;
    margin-right: auto;
}

.retiro-img-container .retiro-badged-container {
    position: absolute;
    bottom: 0;
}

.sobre-tu-retiro .retiro-img-container picture {
    left: -1.5rem;
}

.retiro-img-container .retiro-badged {
    display: flex;
    padding: 0.5rem 0.875rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.9375rem;
    background: var(--a-color-light);
    box-shadow: 0px 15px 15px 0px rgba(134, 101, 230, 0.10);
    max-width: 11.87rem;
}

.retiro-img-container .retiro-badged__verde {
    background: var(--a-color-secondary-50);
}

.retiro-badged__right {
    position: relative;
    left: -5rem;
}

.retiro-badged__left {
    position: relative;
    right: -4rem;
}

.sobre-tu-retiro .circulo-verde {
    width: 148px;
    height: 296px;
    transform: rotate(-90deg);
    border-radius: 0px 300px 300px 0px;
    background: var(--a-color-secondary);
    z-index: -1;
    position: absolute;
    top: 5.8rem;
}

.card-container {
    margin-top: 0.63rem;
    background-color: var(--a-color-light);
    border-radius: 0.9375rem;
    box-shadow: 0px 15px 15px 0px rgba(134, 101, 230, 0.10);
    padding: 1.0625rem 0.875rem;
    text-align: center;
}

.ppr {
    background-color: #F1EDFC;
    padding-top: 1.68rem;
    padding-bottom: 1.44rem;
}

.ppr .cards-container {
    gap: 2.56rem;
    margin-top: 3.6rem;
    margin-bottom: 4.25rem;
}

.ppr .card-item {
    background-color: var(--a-color-light);
    border-radius: 1rem;
    box-shadow: 6px 6px 15px 0px rgba(134, 101, 230, 0.15);
    padding: 1.25rem 1.25rem 1.12rem 1.25rem;
    position: relative;
}

.ppr .card-item span {
    font-size: 1.60188rem;
    font-style: normal;
    font-weight: 700;
    padding: 0.10rem 0.88rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--a-color-dark);
    color: #FFF;
    top: -25%;
}

.ppr .figura-container {
    max-width: 20rem;
}

.ppr .img-titulo-1 {
    left: 0;
    top: 1rem;
}

.ppr .img-titulo-2 {
    right: 1.3rem;
    bottom: 6rem;
}

.barras-estado__container {
    margin-top: 1.19rem;
}

.barra-estado__item {
    gap: 0.62rem;
}

.barra-estado__item p {
    margin-bottom: 0rem;
}

.barra-estado__item p span {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
}

.barra-estado__item-morado {
    color: #274470;
}

.barra-estado__bg {
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    background-color: #F1EDFC;
    position: relative;
    margin-bottom: 1.25rem;
}

.barra-estado__bg-shadow {
    box-shadow: 2px 4px 15px -7px #57b1e3;
}

.barra-estado__bg-morado {
    height: 3rem;
    border-radius: 1rem;
    background: #57b1e3;
}

.barra-estado__bg-morado-md {
    width: 6.625rem;
}

.barra-estado__bg-morado-sm {
    width: 2.875rem;
}

.barras-estado__container picture {
    position: absolute;
    bottom: 0;
}

.barras-estado__container .moneda-full {
    right: 6.5rem;
}

.barras-estado__container .moneda-md {
    left: 5.56rem;
}

.barras-estado__container .moneda-sm {
    left: 1.75rem;
}

.plan-allianz {
    margin-bottom: 3.56rem;
}

#carouselHome {
    margin-top: 6.56rem;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    height: 13.5625rem;
    width: 100%;
    min-height: 200px;
    padding: 3.6875rem 1.125rem 1.25rem 1.125rem;
    border-radius: 1rem;
    box-shadow: .375rem .375rem .9375rem 0rem rgba(134, 101, 230, 0.15);
    margin-bottom: 1.12rem;
    text-align: center;
}

.carousel-item picture {
    top: -4rem;
    left: 0;
    right: 0;
}

.carousel-item .slider-titulo {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    text-align: center;
    margin-bottom: 0.75rem;
}

.carousel-indicators {
    bottom: -2.12rem;
}

.carousel-indicators [data-bs-target] {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    gap: 0.62rem;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #274470;
}

.tarjetas-container {
    margin-top: 1.88rem;
    gap: 1.25rem;
}

.tarjeta-container-item {
    color: var(--a-color-light);
    width: 18.5rem;
    padding: 1.5625rem 0.9375rem 0rem 0.9375rem;
    align-items: center;
    gap: 0.75rem;
    border-radius: 1.25rem;
    background: #274470;
}

.tarjetas-container-img {
    text-align: center;
}

#tarjeta3-img {
    display: block;
    position: relative;
    top: 3.75rem;
}

.bloque-respaldo {
    gap: 1.25rem;
    color: var(--a-color-light);
    background-color: var(--a-color-tertiary);
    padding-top: 2.06rem;
    margin-bottom: 4.37rem;
    margin-top: 4.38rem;
}

.bloque-respaldo .bloque-respaldo-textos-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
}

.bloque-respaldo .badges-container {
    bottom: 1rem;
    max-width: 17.5rem;
    left: 0;
    right: 0;
}

.bloque-respaldo .badged-full {
    display: flex;
    width: 14.5625rem;
    padding: 0.5rem 0.875rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.9375rem;
    background: var(--a-color-light);
    box-shadow: 0px 15px 15px 0px var(--colors-opacity-primary-10, rgba(134, 101, 230, 0.10));
}

.bloque-respaldo .badged-full {
    color: var(--Colors-Solid-Dark, #0A0A0A);
    margin-bottom: 1.56rem;
}

.clientes-a {
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.25rem;
}

.enlace-container {
    margin-top: 3.90rem;
}

.enlace-container-mas {
    margin-top: 0.9rem;
    margin-bottom: 1.24rem;
    margin: 0px;
}

.bloque-respaldo .badged-full p span {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.faq h2 {
    padding-left: 1.06rem;
    padding-right: 1.06rem;
}

.div-faq-container {
    max-width: 33rem;
    margin: 0 auto;
    width: 100%;
}

.faqs {
    background-color: #F5F5F5;
    margin-top: 1.56rem;
    margin-bottom: 1.88rem;
}

.faqs .container {
    background-color: white;
}

.faqs details {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #CACDF7;
}

.faqs details summary::-webkit-details-marker {
    display: none;
}

.faqs details summary {
    color: #274470;
    font-weight: 700;
    padding: 1.25rem;
}

.faqs details p {
    padding: 1.56rem;
    background-color: #FFF;
    border-left: 1px solid #CACDF7;
    border-right: 1px solid #CACDF7;
    border-top: 1px solid #CACDF7;
    margin-bottom: 0px;
}


details>summary>p {
    transition: all 1s ease;
}

details>summary>i {
    transition: transform 0.4s ease;
}

.loader2 {
    color: #FFFFFF;
    font-size: 50px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.5s infinite ease, round 1.5s infinite ease;
}

.loader {
    color: #000000;
    font-size: 50px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.5s infinite ease, round 1.5s infinite ease;
}

#modalConfirmacion3.modal {
    text-align: center !important;
    padding: 0 !important;
}

#modalConfirmacion3.modal:before {
    content: '';
    display: inline-block !important;
    height: 0%;
    vertical-align: middle !important;
    margin-right: -4px;
}

#modalConfirmacion3 .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-loader {
    background-color: transparent !important;
    border: none;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        background-position: 0 0px;
        border-radius: 0px;
    }

    .hero .img-hero-lg {
        display: none;
    }

    .hero .container-items-md {
        display: flex !important;
    }

    .hero .col-md-6 {
        width: 50% !important;
    }

    .hero h1 {
        font-size: 2.375rem;
        line-height: 2.8125rem;
    }

    .hero-titulos-container p {
        font-size: 1.375rem;
        line-height: 1.375rem;
    }

    .hero-titulos-container .p-xlg-bold {
        font-size: 1.75rem;
        line-height: normal;
        font-style: normal;
        font-weight: 400 !important;
        margin-bottom: 1.25rem;
    }

    .hero .genero-container {
        gap: 5.25rem;
    }

    .btn-container button,
    a.btn-b-light {
        max-width: 100%;
    }

    .d-lg-block.globo-respaldo-container .globo-respaldo-izquierda {
        display: none;
    }

    .bloque-respaldo-textos-container .d-md-block,
    .d-lg-block.globo-respaldo-container {
        display: block !important;
    }

    .retiro-textos-container h2,
    .ppr-container h2,
    .impacto-edad .text-lg-center h2,
    .plan-allianz h2,
    .plan-retiro h2,
    .nuestros-proceso h2,
    .testimoniales h2,
    .faq h2,
    .bg-morado h2,
    .direccion-h3 {
        font-size: 1.80188rem;
        line-height: 2.125rem;
        margin-bottom: 0.63rem;
        text-align: center;
    }

    .ppr-container .sub-titulo, .impacto-edad .sub-titulo, .plan-allianz .sub-titulo {
        font-size: 1.21875rem;
        line-height: 1.96875rem;
        text-align: center;
    }

    .sobre-tu-retiro {
        margin-bottom: 3.01rem;
    }

    .sobre-tu-retiro .flex-lg-row-reverse {
        flex-direction: row-reverse;
    }

    .sobre-tu-retiro h2 {
        text-align: left;
    }

    .sobre-tu-retiro .sub-titulo {
        font-size: 1.21875rem;
        line-height: 1.96875rem;
        margin-bottom: 0rem;
    }

    .sobre-tu-retiro .retiro-textos-container .card-container {
        font-size: 1.21875rem;
        text-align: start;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
    }

    .ppr {
        padding-bottom: 3.75rem;
        background-color: transparent;
    }

    .ppr .container {
        background-color: #F1EDFC;
        border-radius: 2rem;
        padding: 1.88rem 0.69rem 1.88rem 0.69rem;
    }

    .ppr .cards-container {
        gap: 2.5rem;
    }

    .ppr .card-item {
        padding: 0.9375rem 0.625rem 0.625rem 0.625rem;
    }

    .ppr .card-item :is(h3, h5){
        font-size: 1.125rem;
        line-height: 1.625rem;
        margin-bottom: 0.09rem;
    } 

    .ppr .card-item p {
        font-size: 0.875rem;
        margin-bottom: 0rem;
    }

    .ppr .card-item p br.d-lg-none {
        display: none;
    }

    .ppr .img-titulo-1, .ppr .img-titulo-2 {
        font-size: 1.4225rem;
        line-height: 1.75rem;
    }

    .ppr .card-item-1 {
        width: 100%;
    }

    .ppr .card-item-2 {
        width: 97%;
    }

    .ppr .card-item-3 {
        width: 83%;
    }

    .ppr .card-item span {
        top: -35%;	
    }

    .ppr .ppr-imgContainer {
        height: 100%;
        align-items: end;
    }

    .ppr .cards-container {
        margin-bottom: 0px;
    }

    .botones-container {
        flex-direction: row !important;
    }

    .bg-morado {
        border-radius: 3rem;
        padding: 2.5rem;
    }

    .impacto-edad .barras-estado__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 2.64rem;
        margin-bottom: 1.88rem;
    }

    .impacto-edad .barra-estado__item {
        gap: 1.25rem;
    }

    .impacto-edad .barra-estado__item .inicia__titulo span {
        font-size: 1.9375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;
    }

    .impacto-edad .barra-estado__item .podrias-tener__titulo {
        display: none;
    }

    .impacto-edad .barra-estado__bg {
        width: 6.25rem;
        height: 20rem;
        border-radius: 1rem;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .impacto-edad .barra-estado__bg .barra-estado__bg-morado {
        width: 6.25rem;
        bottom: 0;
    }

    .moneda-25 .barra-estado__bg-morado {
        height: 20rem;
    }

    .moneda-30 .barra-estado__bg-morado {
        height: 13.5rem;
    }

    .moneda-35 .barra-estado__bg-morado {
        height: 7.5rem;
    }

    .moneda-40 .barra-estado__bg-morado {
        height: 4.4375rem;
    }

    .moneda-45 .barra-estado__bg-morado {
        height: 2.5625rem;
    }

    .impacto-edad .barra-estado__bg .burbuja {
        position: relative;
        display: flex;
        padding: 0.875rem 0.625rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
        border-radius: 1rem;
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
        background-color: var(--a-color-light);
        padding: 0.88rem 0.62rem;
        left: -0.5rem;
    }

    .impacto-edad .barra-estado__bg .burbuja::after {
        content: '';
        position: absolute;
        bottom: -0.9rem;
        left: calc(50% - 4px);
        display: inline-block;
        color: #fff;
        border: 6px solid transparent;
        border-bottom: 8px solid #ffffff;
        transform: rotate(180deg);
    }

    .impacto-edad .moneda-25 .burbuja {
        top: 2.6rem;
    }

    .impacto-edad .moneda-30 .burbuja {
        top: 0.5rem;
    }

    .impacto-edad .moneda-35 .burbuja {
        bottom: 3rem;
    }

    .impacto-edad .moneda-40 .burbuja {
        bottom: 4.7rem;
    }

    .impacto-edad .moneda-45 .burbuja {
        bottom: 5.4rem;
    }

    .impacto-edad .burbuja-tendras {
        padding: 0.5rem 2.25rem;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
        background-color: var(--a-color-light);
        position: absolute;
        top: 1.25rem;
        left: -2rem;
    }

    .impacto-edad .burbuja-tendras p {
        font-size: 1.47656rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.96875rem;
    }

    .impacto-edad .barra-estado__bg .burbuja p {
        color: #274470;
        font-size: 2.4375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5625rem;
    }

    .impacto-edad .barra-estado__bg picture {
        left: 0.4rem;
    }

    .impacto-edad .p-xsm {
        color: #292929;
        font-size: 0.875rem;
        line-height: 1rem;
    }

    .plan-allianz {
        margin-bottom: 0rem;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 7.25rem;
        column-gap: 2.38rem;
        justify-content: center;
    }

    .carousel-item, .carousel-item.active {
        display: flex;
        flex-direction: column;
        width: 16.3125rem;
        height: 14.1875rem;
        max-width: 50%;
        float: none;
        margin-right: 0rem;
    }

    .tarjeta-container-item {
        width: 19.8rem;
        height: 29rem;
        padding: 1.5625rem 0.9375rem 0rem 0.9375rem;
    }

    .tarjeta-container-item picture img {
        width: 17rem;
        height: 12.5rem;
    }
    
    .bloque-respaldo {
        background-color: transparent;
    }

    .bloque-respaldo .bloque-respaldo-container {
        border-radius: 2rem;
        background-color: #274470;
        padding-top: 1.88rem;
    }

    .bloque-respaldo .bloque-respaldo-textos-container {
        gap: 0.62rem;
    }

    .bloque-respaldo-textos {
        margin-top: 0.63rem;
    }

    .bloque-respaldo-textos p span {
        font-weight: 700;
    }

    .bloque-respaldo-titulo {
        font-size: 1.5625rem;
        margin-bottom: 0rem;
        line-height: normal;
    }

    .bloque-respaldo-textos-container h4 {
        font-size: 1.3125rem;
        margin-bottom: 0rem;
    }

    .bloque-respaldo .bloque-respaldo-container .d-lg-flex {
        display: flex;
        justify-content: space-between;
    }

    .bloque-respaldo .globo-respaldo {
        width: 7.5rem;
        height: 7.5rem;
        background: #FFF;
        color: #9E84EB;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: start;
        padding: 0.9375rem 0.9375rem 0.625rem 1.25rem;
        text-align: start;
        position: absolute;
    }

    .bloque-respaldo .globo-respaldo-derecha {
        border-radius: 12.5rem 12.5rem 0rem 12.5rem;
        left: -3.125rem;
        top: 2rem;
    }
    

    .bloque-respaldo .globo-respaldo-derecha img {
        color: #274470;
        width: 5.3125rem;
    }

    .bloque-respaldo .globo-respaldo-izquierda {
        border-radius: 12.5rem 12.5rem 12.5rem 0rem;
        bottom: 13.5rem;
        right: -6.5rem;
        z-index: 1;
    }

    .lg-container-obsolute .img-container,
    .lg-container-obsolute .badges-container {
        z-index: 2;
    }

    .div-faq-container {
        max-width: 720px;
        --bs-gutter-x: 2rem;
        --bs-gutter-y: 2rem;
    }
}

@media only screen and (min-width: 960px) {
    .retiro-img-container {
        height: 28.875rem;
        max-width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .retiro-img-container picture img {
        width: 28.1875rem;
    }

    .retiro-img-container .retiro-badged-container {
        bottom: 2.5rem;
        left: -5rem;
    }

    .sobre-tu-retiro .circulo-verde {
        width: 14.0625rem;
        height: 28.1875rem;
        top: 7.73rem;
    }

    .ppr .container {
        padding: 1.5rem 0.69rem 3.94rem 0.69rem;
    }

    .ppr .cards-container {
        padding-left: 2.81rem;
        gap: 1.25rem;
    }

    .ppr .figura-container {
        max-width: 24.25rem;
    } 

    .ppr .figura-container picture img {
        width: 24.25rem;
    }

    .ppr .card-item {
        padding: 1.25rem 1.25rem 1.25rem 1.5625rem;
    }

    .ppr .card-item-1 {
        width: 25.18rem;
    }

    .ppr .card-item-2 {
        width: 24.75rem;
    }

    .ppr .card-item-3 {
        width: 20.875rem;
    }

    .ppr .card-item span {
        top: 1.5rem;
        left: -1.4rem;
    }

    .impacto-edad .barras-estado__container {
        gap: 5.62rem;
    }

    .bg-morado-lg {
        margin-left: 0rem;
        margin-right: 0rem;
        border-radius: 0rem;
        max-width: 100%;
    }

    .bloque-respaldo .align-items-center {
        gap: 0.75rem !important;
        justify-content: flex-start !important;
    }
    
    .gap-lg-5 {
        gap: 0rem !important;
    }

    .faqs {
        max-width: 45.875rem;
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) { 
    .home .d-lg-none {
        display: none !important;
    }

    .home .d-lg-flex {
        display: flex !important;
    }

    .hero {
        padding-top: 7.87rem;
    }

    .hero .col-md-6{
        width: 49% !important;
    }

    .d-lg-block.globo-respaldo-container .globo-respaldo-izquierda {
        display: flex;
    }

    .bloque-respaldo .bloque-respaldo-container {
        padding-top: 1.12rem;
        padding-right: 7.25rem;
        padding-left: 1.88rem;
    }

    .bloque-respaldo-textos-container {
        justify-content: center;
    }

    .bloque-respaldo .globo-respaldo {
        width: 10.625rem;
        height: 10.625rem;
    }

    .bloque-respaldo .globo-respaldo-derecha {
        left: -7.7rem;
    }

    .globo-respaldo-derecha p,
    .globo-respaldo-izquierda p {
        margin-bottom: 0rem;
        font-size: 1rem;
        line-height: 1.375rem;
    }

    .bloque-respaldo .globo-respaldo-derecha img {
        width: 8.4375rem;
    }
}

@media only screen and (min-width: 1280px) {
    .hero .col-lg-5{
        width: 41.66666667% !important;
    }

    .hero .col-lg-4{
        width: 33.33333333% !important;
    }

    .hero {
        background: linear-gradient(156deg, #274470 1.03%, #57b1e3 97.9%);
    }

    .hero h1 {
        font-size: 3.1875rem;
        line-height: normal;
    }

    .hero .img-hero-lg {
        display: block;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .hero .img-hero-container {
        width: 21.625rem;
        height: 31.3125rem;
    }

    .hero .picture-container {
        left: -5rem;
        top: 0rem;
    }

    .hero .picture-container picture {
        position: relative;
        z-index: 2;
    }

    .hero .p-xlg-bold {
        font-size: 2rem;
        margin-bottom: 3.37rem;
    }

    .hero .circulo-luz {
        width: 30rem;
        height: 30rem;
        border-radius: 39.25rem;
        background: radial-gradient(50.09% 50.09% at 46.96% 50%, rgba(118, 126, 241, 0.00) 0%, #BFC3FF 46.35%, rgba(118, 126, 241, 0.00) 100%);

        mix-blend-mode: lighten;
        position: absolute;
        left: -4.5rem;
        top: 3rem;
        z-index: 0;
        filter: blur(10px);
    }

    .p-xlg-bold {
        font-size: 2rem;
        font-weight: 400 !important;
        line-height: normal !important;
    }

    .retiro-textos-container h2,
    .ppr-container h2,
    .impacto-edad .text-lg-center h2,
    .plan-allianz h2,
    .plan-retiro h2,
    .nuestros-proceso h2,
    .testimoniales h2,
    .faq h2,
    .bg-morado h2,
    .direccion-h3   {
        font-size: 3.05188rem;
        line-height: 3.5rem;
        margin-bottom: 2.5rem; 
    }

    .ppr-container .sub-titulo, .impacto-edad .sub-titulo, .plan-allianz .sub-titulo, .subtitulo-links {
        font-size: 1.47656rem;
        line-height: 1.96875rem;
    }

    .retiro-img-container .retiro-badged-container {
        left: -7rem;
    }

    .sobre-tu-retiro .retiro-img-container picture {
        left: 0rem;
    }

    .ppr .cards-container {
        padding-left: 5.81rem;
    }

    .ppr .card-item span {
        display: flex;
        width: 4.1875rem;
        padding: 0.625rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        font-size: 2.44125rem;
        line-height: 2.9375rem;
        left: -3.25rem;
        top: 1.13rem;
    }

    .ppr .card-item :is(h3, h5) {
        font-size: 1.5625rem;
        line-height: normal;
    }

    .ppr .card-item p {
        font-size: 1.125rem;
        line-height: normal;
    }

    .ppr .card-item-1 {
        width: 25.4rem;
    }

    .ppr .figura-container picture img {
        width: 27.25rem;
    }

    .ppr .img-titulo-1, .ppr .img-titulo-2 {
        font-size: 1.95313rem;
        line-height: normal;
    }

    .ppr .img-titulo-1 {
        left: -1rem;
    }

    .ppr .img-titulo-2 {
        bottom: 7rem;
    }

    .barras-estado__main-container h6 {
        font-size: 1.47656rem;
        line-height: 1.96875rem; 
    }

    .carousel-inner {
        gap: 1.25rem;
    }

    .carousel-item .img-ahorro img {
        width: 10rem;
    }

    .tarjeta-container-item {
        width: 16.3125rem;
        height: 31rem;
    }

    .bloque-respaldo-titulo {
        font-size: 2.44125rem;
        line-height: 2.9375rem;
    }

    .bloque-respaldo-textos p {
        font-size: 1.47656rem;
        line-height: 1.96875rem;
    }

    .bloque-respaldo .badges-container {
        max-width: 100%;
    }

    .bloque-respaldo .badges-container .badge-allianz-1 {
        position: relative;
        left: -8rem;
        top: 0.7rem;
    }
    
    .d-xlg-none {
        display: none !important;
    }

    .d-lg-flex {
        display: flex !important;
    }
}

@media only screen and (min-width: 1440px) {
    /* .impacto-edad .barras-estado__container {
        justify-content: space-between;
    } */
    
    .carousel-item {
        width: 100%;
        max-width: 25%;
    }

    .tarjeta-container-item {
        width: 23.84%;
        height: 30rem;
    }

    .tarjeta-container-item picture img {
        width: 100%;
        height: auto;
    }

    .tarjeta-container-item.col-xl-4 {
        width: 31.9% !important;
    }

    .tarjetas-container-img img {
        width: 100%;
    }

    #tarjeta3-img {
        top: 5.75rem;
    }

    .bloque-respaldo .bloque-respaldo-container{
        padding-right: 11rem;
        padding-left: 11rem;
    }

    .ppr .container  {
        padding-right: 6rem;
        padding-left: 6rem;
    }
}
