/*Variables que se pueden modificar segun la palenta de colores seleccionada por el agente*/
:root {
    --primer-color: #1A60EF;
    --fuente-principal: 'Source Sans Pro', sans-serif;
}


body {
    font-size: 16px;
    font-family: var(--fuente-principal);
}

h1, h2, h3, h4, h5, h6,
p, input, button {
    font-family: var(--fuente-principal);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

.row div {
    padding: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button:focus {
    outline: none !important;
}

.btnPrincipal,
.btnPrincipal:focus,
.btnPrincipal:hover,
.btnPrincipal:active {
    height: 100%;
    width: auto;
    border-radius: 30px;
    background: linear-gradient(224.68deg, #E92F2F 0%, #FF005B 100%);
    color: #FFFFFF;
    font-size: 1.500em;
    letter-spacing: 0;
    line-height: 1.458em;
    text-align: center;
    padding: 8px 30px;
}

    .btnPrincipal .material-icons {
        font-size: 30px;
        float: right;
        margin-left: 10px;
        float: right;
    }

.btnDesactivado,
.btnDesactivado.focus,
.btnDesactivado:focus,
.btnDesactivado:hover {
    color: #3B3B3B;
    text-decoration: none;
}

/*Privacidad y Terminos de Uso*/
.modal-bodyScroll {
    max-height: calc(100vh - 110px);
    overflow-y: auto;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 0px solid #e5e5e5 !important;
}

.modal-contentEdit {
    position: relative;
    background-color: #f7f7f7;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.PrivacidadTerminosUso {
    color: #39393A;
    font-family: var(--fuente-principal);
    font-size: 16px;
    line-height: 25px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    margin-bottom: 50px;
}

.titleGlober {
    font-weight: 600;
}

.titleulRomano {
    padding-left: 3%;
}

.titlePrincipal {
    color: #39393A;
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 20px;
    line-height: 51px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.titleGloberTerminos {
    color: #39393A;
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

/*Media query*/
@media (min-width: 2500px) {
    html body {
        font-size: 26px;
    }
}

@media (min-width: 1800px) and (max-width: 2500px) {
    html body {
        font-size: 18px;
    }
}

@media (max-width: 1450px) {
}

@media (max-width: 1300px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
    html body {
        font-size: 16px;
        overflow-x: hidden;
    }

    .btnPrincipal .material-icons {
        margin-top: 0;
    }
}

@media (min-width: 416px) and (max-width: 767px) {
}

@media (max-width: 415px) {
}

@media (max-width: 320px) {
    html body {
        font-size: 16px;
    }
}

.modal {
    text-align: center;
    padding: 0 !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
