body {
  background-color: #FFF;
  color: var(--a-color-dark);
}

.direccion,
.bg-morado {
  margin-bottom: 3.75rem;
}

.navbar,
footer .container-fluid {
    background: #4EA7CE;
}

.hero {
  padding-top: 5.87rem;
  color: var(--a-color-light);
  background: linear-gradient(180deg, #4EA7CE 0%, #65BFE6 100%);
  border-radius: 0px 0px 8.5rem 0px;
  margin-bottom: 2.5rem;
}

.btn-container {
  padding-bottom: 4.38rem;
}

.btn-container button,
a.btn-b-light {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1.25rem 1.31rem;
  max-width: 12.5rem;
  width: 100%;
}

.btn-shadow {
  box-shadow: 0px 5px 24px 0px rgba(196, 230, 101, 0.40);
}

.btn-agendar {
  display: inline-flex;
  padding: 1.25rem 1.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.5rem;
  border: 2px solid #274470;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #274470;
}

.botones-container {
  padding-top: 1.88rem;
  padding-bottom: 4.37rem;
  gap: 1.25rem;
}

.botones-container button {
  width: 13rem;
}

.bg-morado {
  background-color: #4EA7CE;
  color: var(--a-color-light);
  padding-top: 2.13rem;
  padding-bottom: 2.5rem;
}

.bg-morado .botones-container {
  padding-bottom: 0rem;
}

.bg-morado .btn-primary {
  box-shadow: 0px 5px 24px 0px rgba(196, 230, 101, 0.40);
}

.bg-morado .btn-agendar {
  border: 2px solid var(--a-color-light);
  color: var(--a-color-light);
}

.pasosContratacion-texto h1 {
  margin-bottom: 1.44rem;
}

.globo-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.31rem;
}

.globo-1 {
  top: 1.44rem;
  left: 0;
  z-index: 0;
}

.globo-2 {
  top: 7.5rem;
  right: 0;
  z-index: 2;
}

.globo-container .globo-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.9375rem;
  background: #FFF;
  box-shadow: 0px 15px 15px 0px rgba(134, 101, 230, 0.10);
  width: 100%;
}

.globo-container .globo-item p {
  color: #0A0A0A;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.globo-container .item-img {
  border-radius: 50%;
  width: 2.1875rem;
  height: 2.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.globo-container .item-img-right {
  background-image: url("../../img/Ahorro/Allianz/iconos/img-caticon-3.webp");
  background-size: cover;
}

.globo-container .item-img-left {
  background-image: url("../../img/Ahorro/Allianz/iconos/img-chaticon-1.webp");
  background-size: cover;
}

.img-hero img {
  width: 18.6875rem;
  height: 15.25rem;
  position: relative;
  z-index: 1;
}

.container-menu-flotante {
  top: -8rem;
}

.menu-flotante {
  display: flex;
  padding: 1.25rem;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.125rem;
  border-radius: 0.5rem;
  background: #FFF;
  box-shadow: 0px 15px 15px 0px rgba(134, 101, 230, 0.10);
  position: sticky;
  top: -5rem;
}

.menu-flotante ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  padding: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
}

.menu-flotante ul li {
  cursor: pointer;
}

.menu-flotante ul li.active {
  color: #4EA7CE;
  list-style: inside;
}


.menu-flotante ul li.active,  .menu-flotante ul li.active a{
  color: #4EA7CE;
  list-style: inside;
}

.menu-flotante ul li a {
  color: #0A0A0A;
  text-decoration: none;
}

.pasosContratacion-main-container #nuestros-proceso {
  padding-bottom: 3.75rem;
} 

.pasosContratacion-main-container .proceso-pasos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.12rem;
}

.proceso-punto {
  margin-top: 0rem;
  border: 2px solid #274470;
  background: #274470;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .625rem;
  z-index: 1;
}

.proceso-punto p {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 600;
}

.proceso-pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proceso-paso {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 2px solid #274470;
  background: var(--a-color-light);
  padding: 1.12rem;
  z-index: 1;
}

.proceso-paso :is(h3, h5) {
  margin-bottom: 0.62rem;
}

.proceso-paso p {
  margin-bottom: 0;
}

.proceso-paso a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.62rem;
  color: #0A0A0A;
  text-decoration: none;
  margin-top: 0.94rem;
}

.proceso-paso a p{
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  
}

.proceso-paso a i {
  text-decoration: none;
  font-size: 1.125rem;
}


.div-proceso-punto {
  width: 100%;
  position: relative;
  justify-content: center;
}

.div-proceso-punto svg {
    position: absolute;
    height: 340px;
}

.div-proceso-punto2 svg,
.div-proceso-punto3 svg,
.div-proceso-punto4 svg,
.div-proceso-punto5 svg,
.div-proceso-punto6 svg,
.div-proceso-punto7 svg {
  top: -24px;
  height: 316px;
}

.div-proceso-punto8 svg {
  top: 27px;
  height: 333px;
}

.direccion {
  padding: 3.75rem 0 0;
}

.direccion-h3 {
  margin-bottom: 1.37rem;
}

.direccion .mapa {
  height: 30rem;
}

.direccion {
  padding-top: 5.19rem;
}

.direccion-h3 {
  text-align: center;
  margin-bottom: 3rem;
}

.direccion .mapa {
  padding: 0;
  height: 23.0625rem;
  position: relative;
}

.direccion .mapa iframe {
  width: 100%;
  height: 100%;
}

.mapa-informacion {
  width: 26rem;
  height: 11rem;
  position: absolute;
  top: 14%;
  left: 58%;
  display: flex;
  padding: 1.25rem 2.1875rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1.5rem;
  background: var(--a-color-light);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
}

.mapa-informacion h6 {
  color: #4EA7CE;
  margin: 0;
}

.mapa-informacion p {
  margin: 0;
}

.mapa-informacion .p-xs {
  margin-bottom: 0.625rem;
}

.mapa-informacion .p-sm {
  margin-bottom: 0.72rem;
}

.mapa-informacion a {
  color: var(--a-color-dark);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
}

.mapa-informacion .p_whatsapp svg {
  margin-right: 0.31rem;
  width: 1.5625rem;
  height: 1.5625rem;
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .globo-2 {
    right: 30%;
  }
}

@media screen and (min-width: 768px) {
  .globo-container {
    flex-direction: row;
    align-items: center;
  }

  .globo-1 {
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .mapa-informacion {
    top: 6%;
    left: 56%;
  }

  .bg-morado {
    width: 69.75rem;
    border-radius: 3rem;
  }
}

@media only screen and (max-width: 991px) {
  .direccion {
    padding: 3.75rem 0 0;
  }

  .direccion-h3 {
    margin-bottom: 1.37rem;
  }

  .direccion .mapa {
    height: 30rem;
  }

  .mapa-informacion {
    top: 2%;
    left: calc(50% - 9rem);
    width: 18rem;
    height: auto;
    padding: 1.25rem;
  }

  .mapa-informacion .p-sm {
    font-size: 0.875rem;
    line-height: normal;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    border-radius: 0px 0px 200px 0px;
    padding-top: 5.63rem;
    position: relative;
    background: linear-gradient(180deg, #4EA7CE 0%, #65BFE6 100%);
  }

  .hero .hero-titulos-container {
    position: relative;
    z-index: 1;
  }

  .hero h1 {
    font-size: 3.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 3.37rem;
  }

  .hero .img-hero-lg .picture-absolute {
    position: absolute;
    left: -10rem;
    z-index: 1;
  }

  .hero .img-hero-container {
    height: 29rem;
  }

  .hero .picture-container {
    top: 0.9rem;
  }

  .bg-morado {
    width: 69.75rem;
    border-radius: 3rem;
  }

  .globo-1 {
    left: -5%;
  }

  .globo-2 {
    top: 12.35rem;
    right: 8%;
  }

  .img-hero img {
    width: 25.1875rem;
    height: 20.625rem;
  }

  .globo-container {
    max-width: 16.125rem;
    width: 100%;
  }

  .globo-container .globo-item {
    padding: 0.5rem 1rem;
    height: auto;
    width: 100%;
    justify-content: flex-start;
  }

  .globo-container .globo-item p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; 
  }
  
  .globo-container .item-img {
    width: 3.125rem;
    height: 3.125rem;
  }

  .hero .p-xlg-bold {
    margin-bottom: 2.12rem;
  }

  .hero .circulo-luz {
    width: 30rem;
    height: 30rem;
    border-radius: 39.25rem;
    background: radial-gradient(50.09% 50.09% at 46.96% 50%, rgba(118, 126, 241, 0.00) 0%, #BFC3FF 46.35%, rgba(118, 126, 241, 0.00) 100%);
    mix-blend-mode: lighten;
    position: absolute;
    left: -9rem;
    z-index: 0;
    filter: blur(10px);
  }

  .proceso-paso {
    max-width: 46rem;
    width: 100%;
  }

  .div-proceso-punto2 svg, .div-proceso-punto3 svg, .div-proceso-punto4 svg, .div-proceso-punto5 svg, .div-proceso-punto6 svg, .div-proceso-punto7 svg {
    top: -22px;
  }

  .menu-flotante {
    max-width: 22.25rem;
    width: 100%;
  }

  .p-xlg-bold {
    font-size: 2rem;
    font-weight: 400 !important;
    line-height: normal !important;
  }

}